@import url('https://fonts.googleapis.com/css2?family=Gajraj+One&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.body{
  background-image: url('assets/imagens/fundo.png');
  background-size: cover;
  background-repeat: no-repeat;
}

.titulo{
  display: flex;
  justify-content: center;
  font-family:'Gajraj One', sans-serif;
  font-size: 50px;
  color: #1209E0;
}

canvas {
  display: block;
  margin: 50px 0 0 430px;
}
